doctype html
html
  head
    title= meta.title
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='./style.css')
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')

  body
    script.
      var checkCallbacks = [];
    .container

      h1= meta.title
      form.form#saleform(action="/#{sheetId}/submit", method='post', onsubmit="return checkForm();")

        h3 訂單
        if !info
          p ERROR!
        else
          table
            thead
              tr
                each key in keys
                  th= key
                th.quantity 訂購數量(Quantity)
                th 小計(Subtotal)
            tbody
              each obj, index in info
                tr(data-unit-price="#{unitPrices[index]}")
                  each key in keys
                    td= obj[key]
                  td.quantity
                    .input-group
                      span.input-group-btn
                        span.btn.btn-danger.decrement
                          i.fa.fa-minus-square
                      input.form-control.filling(name="order[#{obj.Item}]")
                      span.input-group-btn
                        span.btn.btn-primary.increment
                          i.fa.fa-plus-square
                  td
                    .subtotal
              tr
                each key in keys
                  th
                th 總計(Total)
                td
                  #totalAmount $0
                  
        if messages.length > 0
          h3 相關訊息
          each message in messages
            .row
              .col-lg-2.col-md-3.col-sm-4.msgh
                p= message[0]
              .col-lg-10.col-md-9.col-sm-8.msgp
                p= message[1]

        h3 個人資料
        each row in formSpec
          div.specialForms(id="#{row['columnnames']}", style="padding-top:10px")
            if row['mustanswer'] == 'TRUE'
              label.must= row['displaylabel']
            else
              label= row['displaylabel']
            if row['type'] == 'input'
              input.form-control(name="order[#{row['columnnames']}]", placeholder="#{row['placeholder']}")
              script.
                $(document).ready(function() {
                  checkCallbacks.push(function() {
                    var val = $("input[name='order[#{row['columnnames']}]']").val();
                    if (val === "") {
                      alert("Please enter your #{row['columnnames']}!");
                      return false;
                    }
                    return true;
                  });
                });
            if row['type'] == 'radio'
              each value, key in row.options
                div
                  input(id="#{key}", type='radio', name="order[#{row['columnnames']}]", value="#{key}")
                  | 
                  label(for="#{key}")= value
              script.
                $(document).ready(function() {
                  checkCallbacks.push(function() {
                    var val = $("input[name='order[#{row['columnnames']}]']:checked").val();
                    if (val === "" || val === undefined) {
                      alert("Please select #{row['columnnames']}!");
                      return false;
                    }
                    return true;
                  });
                });
        
        button.btn.btn-primary.submit#submit Submit

    footer
      .footer-left
        p 本訂單介面並無支付功能，亦不會記錄個人資料。個人資料僅限本次訂購使用。
      .footer-right
        p
          a(href="https://github.com/aabakesale/bakesale2016")
            i.fa.fa-github.icon-large
          |  Created by Shang-En Huang, Chun-Wen Chen, Kevin Wang, William Chu, 2016

    script.
      $(document).ready(function(){
      $(".filling").change(function(){
      var tr = $(this).parents("tr")[0];
      //console.log(tr);
      var val = $(this).val();
      val = parseInt(Number(val));
      if (val > 0) {
      $(this).val(val);
      $(tr).addClass('buy');
      var unitPrice = $(tr).data('unit-price');
      var subtotal = parseInt(val) * unitPrice;
      var p = $(tr).children("td").children(".subtotal").html(val + " x $" + unitPrice + " = <font color=red>$" + subtotal + "</font>");
      //console.log(p);
      } else $(tr).removeClass('buy');
      updateTotal();
      });
      $(".decrement").mousedown(function(){
        var par = $(this).parents(".input-group")[0];
        var input = $(par).children("input")[0];
        var val = Number($(input).val());
        val = parseInt(Number(val)) - 1;
        if (val <= 0) $(input).val('');
        else $(input).val(val);
        $(input).change();
        $(this).blur();
      });
      $(".increment").mousedown(function(){
        var par = $(this).parents(".input-group")[0];
        var input = $(par).children("input")[0];
        var val = $(input).val();
        val = parseInt(Number(val)) + 1;
        if (val <= 0) $(input).val('');
        else $(input).val(val);
        $(input).change();
        $(this).blur();
      });
      });
      function checkForm() {
      for(var i in checkCallbacks) {
        if(checkCallbacks[i]() == false)
          return false;
      }
      return confirm("確定送出訂單？");
      }
      function updateTotal() {
      var s=0;
      $(".filling").each(function(i, e){
      var tr=$(e).parents("tr")[0];
      var val=$(this).val();
      var unitPrice = $(tr).data('unit-price');
      if(!isNaN(val) && parseInt(val) > 0) s += unitPrice * parseInt(val);
      });
      $('#totalAmount').html("$"+s);
      }
    include ga.jade
