doctype html
html
  head
    title= meta.title
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/style-receipts.css")
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')

  body
    .container
      each row in data
        .single-order
          .row.flex-vcenter
            .col-xs-7.text-center.center-block
              .header= row['seq']
            .col-xs-5
              .name.col-xs-12
                b #{row['name']}
              .email.col-xs-12
                nobr
                  i.fa.fa-envelope-o 
                  b  #{row['email']} 
              .contact.col-xs-12
                nobr
                  i.fa.fa-phone  
                  b  #{row['contact']}
          .row
            .hrule.col-xs-12
          .row.grid
            each col, index in info
              .grid-item #{col.Item}
              if parseInt(Number(row[col.Item])) > 0
                .grid-quantity
                  b  #{row[col.Item]}
                .grid-subtotal
                  | $#{parseInt(Number(row[col.Item])) * unitPrices[index]}
              else
                .grid-quantity
                .grid-subtotal

          .row
            .hrule.col-xs-12
          .row
            .total.col-xs-12
              | Total:  
              b  $#{row['amt']}
          .row
            .payment.col-xs-12
              | 繳款狀況：
              if row['emailed'] != 200
                b ⚠ 尚未付款
              else
                | ✔ 已QP
          .row
            .total.col-xs-12
              | 取貨地點：
              b #{row['取貨地點']}
        

    include ga.jade
